<nav>
    <a class="fs-6 badge text-bg-light text-decoration-none" href="/write"
        >Write</a
    >
    <a class="fs-6 badge text-bg-light text-decoration-none" href="/lists"
        >Lists</a
    >
    <a class="fs-6 badge text-bg-light text-decoration-none" href="/stories"
        >Stories</a
    >
    <a class="fs-6 badge text-bg-light text-decoration-none" href="/settings"
        >Settings</a
    >
</nav>
